<div>
    <h1>Products</h1>
    <table>
        <thead>
            <tr>
                <th>TITLE</th>
                <th>ID</th>
                <th>DESCRIPTION</th>
                <th>CODE</th>
                <th>PRICE</th>
                <th>STOCK</th>
                <th>CATEGORY</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                <td>{{title}}</td>
                <td>{{id}}</td>
                <td>{{description}}</td>
                <td>{{code}}</td>
                <td>${{price}}</td>
                <td>{{stock}}</td>
                <td>{{category}}</td>
            </tr>
            {{/each}}
        </tbody>
        <div>
            {{#if prevLink}}
            <a href="{{prevLink}}" class="button">Prev</a>
            {{/if}}
            {{#if nextLink}}
            <a href="{{nextLink}}" class="button">Next</a>
            {{/if}}
        </div>
    </table>
</div>